<div class="flex flex-wrap flex-column align-content-center">
  <p-button icon="pi pi-search" [rounded]="true" severity="success"></p-button>
</div>

<!-- <p-dialog>
  <ng-template pTemplate="headless">
    <div
      class="flex flex-column align-content-center p-5 surface-overlay border-round"
    >
      <div
        class="border-circle bg-{{
          type
        }} inline-flex justify-content-center align-items-center h-6rem w-6rem mt-8"
      >
        <i class="pi {{ icon }} text-5xl"></i>
      </div>

      <span class="font-bold text-2xl block mb-2 mt-4">{{ header }}</span>

      <p class="mb-0">{{ message }}</p>

      <div class="flex align-items-center gap-2 mt-4">
        <button
          title="Close"
          type="button"
          pButton
          label="Ok"
          class="w-8rem"
          (click)="onOk()"
        ></button>
      </div>
    </div>
  </ng-template>
</p-dialog> -->
<!-- <p-confirmDialog #cd>
  <ng-template pTemplate="headless" let-message>
    <div
      class="flex flex-column align-content-center p-5 surface-overlay border-round"
    >
      <div
        class="border-circle bg-{{
          type
        }} inline-flex justify-content-center align-items-center h-6rem w-6rem mt-8"
      >
        <i class="pi {{ icon }} text-5xl"></i>
      </div>

      <span class="font-bold text-2xl block mb-2 mt-4">{{ header }}</span>

      <p class="mb-0">{{ message }}</p>

      <div class="flex align-items-center gap-2 mt-4">
        <button
          title="Close"
          type="button"
          pButton
          label="Ok"
          class="w-8rem"
          (click)="cd.accept()"
        ></button>
      </div>
    </div>
  </ng-template>
</p-confirmDialog> -->
