<div class="flex justify-content-between flex-row">
  <div class="font-medium text-3xl text-primary">Departments</div>
  <button
    title="Add a department"
    type="button"
    pButton
    pRipple
    label="Add"
    class="p-button-rounded"
    icon="pi pi-plus"
    severity="primary"
    (click)="onAdd()"
  ></button>
</div>
<!-- <div class="flex align-items-start justify-content-between flex-row"></div> -->
<div class="flex justify-content-center flex-row mt-4">
  <app-table
    [loadingInProgress]="loadingInProgress"
    [headers]="headers"
    [data]="departments"
    [tableOptions]="tableOptions"
    [totalDataCount]="dataCount"
    [page]="page"
    [pageSize]="pageSize"
    [pageSizeOptions]="pageSizeOptions"
    (pageChanged)="onPageChange($event)"
    (onEdit)="onEdit($event)"
    (onDelete)="onDelete($event)"
    (onActivate)="onActivate($event)"
    (onDeactivate)="onDeactivate($event)"
  ></app-table>
</div>

<p-confirmDialog></p-confirmDialog>
<p-toast></p-toast>
