<div class="flex justify-content-between flex-row">
  <div class="font-medium text-3xl text-primary">Departments</div>
  <button
    title="Add a department"
    type="button"
    pButton
    pRipple
    label="Add"
    class="p-button-rounded"
    icon="pi pi-plus"
    severity="primary"
    (click)="onAdd()"
  ></button>
</div>
<app-search-bar (onSearch)="onSearch($event)"></app-search-bar>
<!-- <div class="flex align-items-start justify-content-between flex-row"></div> -->
<div
  *ngIf="loadingInProgress"
  class="flex justify-content-center flex-row mt-4"
>
  <div class="flex align-content-center">
    <i class="pi pi-spin pi-spinner loading-spinner"></i>
  </div>
</div>

<div
  *ngIf="!loadingInProgress"
  class="flex justify-content-center flex-row mt-4"
>
  <app-table
    [loadingInProgress]="loadingInProgress"
    [headers]="headers"
    [data]="departments"
    [tableOptions]="tableOptions"
    [totalDataCount]="dataCount"
    [page]="page"
    [pageSize]="pageSize"
    [pageSizeOptions]="pageSizeOptions"
    (pageChanged)="onPageChange($event)"
    (onEdit)="onEdit($event)"
    (onDelete)="onDelete($event)"
    (onActivate)="onActivate($event)"
    (onDeactivate)="onDeactivate($event)"
  ></app-table>
</div>

<!-- Confirmation dialog -->
<p-confirmDialog></p-confirmDialog>

<!-- Toast message -->
<p-toast></p-toast>

<!-- Add popup -->
<app-departments-popup
  [(display)]="displayAddPopup"
  header="Add Department"
  popupType="addNew"
  (confirm)="addDepartment($event)"
></app-departments-popup>

<!-- Edit department popup-->
<app-departments-popup
  [department]="department"
  [(display)]="displayEditPopup"
  header="Edit Department"
  popupType="edit"
  (confirm)="editDepartment($event)"
></app-departments-popup>
