<div *ngIf="loadingInProgress">
  <div class="flex align-content-center">
    <i class="pi pi-spin pi-spinner loading-spinner"></i>
  </div>
</div>
<div *ngIf="!loadingInProgress" class="grid">
  <!-- <div class="col-12">
    <div class="flex justify-content-center flex-row gap-2">
      <span class="p-input-icon-left">
        <i class="pi pi-search"></i>
        <input
          [(ngModel)]="searchQuery"
          (input)="getSearchInput()"
          pInputText
          placeholder="Search"
        />
      </span>
    </div>
  </div> -->
  <div class="col-12">
    <p-table
      dataKey="id"
      [columns]="headers"
      [value]="data"
      [(selection)]="selectedDataArray"
      [tableStyle]="{ 'min-width': '25rem' }"
    >
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th *ngIf="allowCheckBox" style="width: 4rem">
            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
          </th>

          <th *ngFor="let header of headers">
            {{ header | capitalizeFirstLetter }}
          </th>

          <th *ngIf="allowActivationAndDeactivation">Status</th>

          <th
            *ngIf="
              allowEditRow || allowDeleteRow || allowActivationAndDeactivation
            "
          ></th>
        </tr>
      </ng-template>

      <ng-template
        pTemplate="body"
        let-rowData
        let-ri="rowIndex"
        let-columns="headers"
      >
        <tr>
          <td *ngIf="allowCheckBox">
            <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
          </td>

          <td *ngFor="let header of headers">{{ rowData[header] }}</td>

          <td *ngIf="allowActivationAndDeactivation">
            <p-tag
              [value]="rowData.status ? 'Active' : 'Inactive'"
              [severity]="rowData.status ? 'success' : 'warning'"
              [rounded]="true"
            ></p-tag>
          </td>

          <td
            *ngIf="
              allowEditRow || allowDeleteRow || allowActivationAndDeactivation
            "
            style="width: 15rem"
          >
            <div class="flex justify-content-center flex-row gap-2">
              <button
                *ngIf="allowActivationAndDeactivation && !rowData.status"
                [rounded]="true"
                title="Activate"
                pButton
                pRipple
                type="button"
                icon="pi pi-check"
                severity="success"
                (click)="onRowActivate(rowData)"
              ></button>
              <button
                *ngIf="allowActivationAndDeactivation && rowData.status"
                [rounded]="true"
                title="Deactivate"
                pButton
                pRipple
                type="button"
                icon="pi pi-times"
                severity="warning"
                (click)="onRowDeactivate(rowData)"
              ></button>
              <button
                *ngIf="allowEditRow"
                [rounded]="true"
                title="Edit"
                pButton
                pRipple
                type="button"
                icon="pi pi-pen-to-square"
                severity="info"
                (click)="onRowEditInit(rowData)"
              ></button>
              <button
                *ngIf="allowDeleteRow"
                [rounded]="true"
                title="Delete"
                pButton
                pRipple
                type="button"
                icon="pi pi-trash"
                severity="danger"
                (click)="onRowDeleteInit(rowData)"
              ></button>
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>

  <div *ngIf="allowCheckBox" class="col-6">
    <div class="flex justify-content-start gap-2">
      <button
        *ngIf="allowActivationAndDeactivation || allowCheckBox"
        [rounded]="true"
        icon="pi pi-check pr-2"
        pButton
        pRipple
        severity="success"
        [disabled]="selectedDataArray.length === 0"
        (click)="onBulkActivate()"
      >
        Activate
      </button>
      <button
        *ngIf="allowActivationAndDeactivation || allowCheckBox"
        [rounded]="true"
        icon="pi pi-times pr-2"
        pButton
        pRipple
        severity="warning"
        [disabled]="selectedDataArray.length === 0"
        (click)="onBulkDeactivate()"
      >
        Deactivate
      </button>
    </div>
  </div>
  <div *ngIf="allowCheckBox" class="col-6">
    <div class="flex justify-content-end">
      <button
        *ngIf="allowCheckBox || allowDeleteRow"
        [rounded]="true"
        icon="pi pi-trash pr-2"
        pButton
        pRipple
        severity="danger"
        [disabled]="selectedDataArray.length === 0"
        (click)="onBulkDelete()"
      >
        Delete
      </button>
    </div>
  </div>
  <div class="col-12">
    <p-paginator
      (onPageChange)="onPageChange($event)"
      [first]="(page - 1) * pageSize"
      [rows]="pageSize"
      [totalRecords]="totalDataCount"
      [rowsPerPageOptions]="pageSizeOptions"
    ></p-paginator>
  </div>
</div>
